{{ $result := dict }}

{{ if .Image }}
    {{ $url := urls.Parse .Image }}
    {{ $permalink := .Image }}
    {{ $r2Config := dict }}
    {{ with .Context.Site.Params.postImages }}
        {{ with .r2 }}
            {{ $r2Config = . }}
        {{ end }}
    {{ end }}
    {{ with .Context.Params.postImages }}
        {{ with .r2 }}
            {{ $r2Config = merge $r2Config . }}
        {{ end }}
    {{ end }}
    {{ $r2BaseURL := strings.TrimSuffix "/" (default "" (index $r2Config "baseURL")) }}
    {{ $r2SourcePrefix := default "/r2/post/img/" (index $r2Config "sourcePrefix") }}
    {{ $r2ObjectPrefix := default "/post/img/" (index $r2Config "objectPrefix") }}
    {{ $r2LocalPrefix := default $r2ObjectPrefix (index $r2Config "localPrefix") }}
    {{ $isR2Image := and $r2BaseURL (hasPrefix .Image $r2SourcePrefix) }}

    {{ $result = dict
        "Resource" nil
        "Permalink" $permalink
        "Height" nil
        "Width" nil
    }}

    {{ if $isR2Image }}
        {{ $objectPath := strings.TrimPrefix $r2SourcePrefix .Image }}
        {{ $objectPermalink := printf "%s%s%s" $r2BaseURL $r2ObjectPrefix $objectPath }}
        {{ $filePath := printf "static%s%s" $r2LocalPrefix $objectPath }}
        {{ $imgWidth := 0 }}
        {{ $imgHeight := 0 }}

        {{ with imageConfig $filePath }}
            {{ $imgWidth = .Width }}
            {{ $imgHeight = .Height }}
        {{ end }}

        {{ $result = dict
            "Resource" nil
            "Permalink" $objectPermalink
            "Height" (cond (gt $imgHeight 0) $imgHeight nil)
            "Width" (cond (gt $imgWidth 0) $imgWidth nil)
        }}
    {{ else }}
        {{ $isStatic := hasPrefix .Image "/post/img/" }}

        {{ if not $isStatic }}
        {{ $resource := dict }}
        {{ $local := true }}

        {{ if not (in (slice "https" "http") $url.Scheme) }}
            {{ $resource = .Resources.Get (printf "%s" (.Image | safeURL)) }}
        {{ else }}
            {{ with try (resources.GetRemote $url (dict "timeout" .Context.Site.Params.imageProcessing.external.timeout)) }}
                {{ with .Err }}
                    {{ warnf "Failed to fetch remote resource %q: %s" $url . }}
                {{ else with .Value }}
                    {{ $resource = . }}
                    {{ $local = false }}
                {{ else }}
                    {{ warnf "Unable to get remote resource %q" $url }}
                {{ end }}
            {{ end }}
        {{ end }}

        {{ if $resource }}
            {{ if and .Context.Site.Params.imageProcessing.autoOrient (reflect.IsImageResourceProcessable $resource) }}
                {{ $filter := images.AutoOrient }}
                {{ $resource = $resource | images.Filter $filter }}
            {{ end }}

            {{ if $local }}
                {{ $permalink = $resource.RelPermalink }}
            {{ end }}

            {{ if reflect.IsImageResourceWithMeta $resource }}
                {{ $result = dict
                    "Resource" $resource
                    "Permalink" $permalink
                    "Height" $resource.Height
                    "Width" $resource.Width
                }}
            {{ else }}
                {{ $result = dict
                    "Resource" $resource
                    "Permalink" $permalink
                    "Height" nil
                    "Width" nil
                }}
            {{ end }}
        {{ end }}
    {{ end }}
    {{ end }}
{{ end }}

{{ return $result }}
