{{- $image := partial "helper/image" (dict "Resources" .Page.Resources "Image" .Destination "Context" .Page) -}}
{{- $alt := .PlainText | safeHTML -}}
{{- $title := .Title | markdownify -}}

{{- $galleryImage := and $image.Height $image.Width -}}
{{- $isStatic := hasPrefix $image.Permalink "/post/img/" -}}

{{- $imgWidth := $image.Width -}}
{{- $imgHeight := $image.Height -}}

{{- if and $isStatic (not $imgWidth) -}}
    {{- $filePath := printf "static%s" $image.Permalink -}}
    {{- with imageConfig $filePath -}}
        {{- $imgWidth = .Width -}}
        {{- $imgHeight = .Height -}}
        {{- $galleryImage = true -}}
    {{- end -}}
{{- end -}}

{{- $attributes := dict -}}
{{- if $galleryImage -}}
    {{- $attributes = (dict
        "data-flex-grow" (div (mul $imgWidth 100) $imgHeight)
        "data-flex-basis" (printf "%dpx" (div (mul $imgWidth 240) $imgHeight))
    ) -}}
{{- end -}}

{{- $imgClass := "" -}}
{{- if $galleryImage -}}
    {{- $imgClass = "gallery-image" -}}
{{- end -}}

{{ partial "helper/responsive-image" (dict
    "Resource" $image.Resource
    "Widths" (cond .Page.Site.Params.ImageProcessing.Content.Enabled .Page.Site.Params.ImageProcessing.Content.Widths nil)
    "Attributes" (merge $attributes (dict
        "src" $image.Permalink
        "width" $imgWidth
        "height" $imgHeight
        "alt" $alt
        "title" $title
        "data-title-escaped" ($title | htmlEscape)
        "class" $imgClass
        "loading" "lazy"
        "sizes" "(max-width: 767px) calc(100vw - 30px), (max-width: 1023px) 700px, (max-width: 1279px) 950px, 1232px"
    ))
) }}
