{{- $IsList := .IsList -}}
{{- $Page := .Page -}}
<header class="article-header">
    {{- $image := partial "helper/image" (dict "Image" $Page.Params.image "Resources" $Page.Resources "Context" $Page) -}}
    {{- if $image -}}
        {{- $imgWidth := $image.Width -}}
        {{- $imgHeight := $image.Height -}}
        {{- $isStatic := hasPrefix $image.Permalink "/post/img/" -}}
        {{- if and $isStatic (not $imgWidth) -}}
            {{- $filePath := printf "static%s" $image.Permalink -}}
            {{- with imageConfig $filePath -}}
                {{- $imgWidth = .Width -}}
                {{- $imgHeight = .Height -}}
            {{- end -}}
        {{- end -}}
    <div class="article-image">
        <a href="{{ $Page.RelPermalink }}">
            {{ partial "helper/responsive-image" (dict
                "Resource" $image.Resource
                "Widths" (cond $Page.Site.Params.ImageProcessing.Content.Enabled $Page.Site.Params.ImageProcessing.Content.Widths nil)
                "Attributes" (dict
                    "src" $image.Permalink
                    "width" $imgWidth
                    "height" $imgHeight
                    "alt" (printf "Featured image of post %s" $Page.Title)
                    "loading" "lazy"
                    "sizes" "(max-width: 767px) calc(100vw - 30px), (max-width: 1023px) 700px, (max-width: 1279px) 950px, 1232px"
                )
            ) }}
        </a>
    </div>
    {{ end }}

    {{ partial "article/components/details" (dict "Page" $Page "IsList" $IsList) }}
</header>
